<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mr. Coffee | Schedules</title>
        <link rel="stylesheet" type="text/css" href="/css/application.css" />
    </head>
    <body>
        <%- include('../includes/header') %>
        <section>
            <h2>Schedules:</h2>
            <% for (let i=0; i < schedules.length; i++) { %>
            <p><strong>User ID:</strong> <%=schedules[i].user_id%></p>
            <p>
                <strong>Day:</strong>
                <% switch (schedules[i].day) { case 1: %>Monday<% break; case 2: %>Tuesday<% break; case 3: %>Wednesday<% break; case 4: %>Thursday<% break; case 5: %>Friday<% break; case 6: %>Saturday<% break; case 7: %>Sunday<% break; default: %><%=schedules[i].day%> ?<% } %>
            </p>
            <p><strong>Starts at:</strong> <%=schedules[i].start_at%></p>
            <p><strong>Ends at:</strong> <%=schedules[i].end_at%></p>
            <br />
            <% } %>
        </section>
        <%- include('../includes/footer') %>
    </body>
</html>
